# Logs
logs
*.log

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Users Environment Variables
.lock-wscript

# phpstorm
.idea

# built js
chrome-extension/js

.DS_Store
chrome-extension/.DS_Store

chrome-extension.crx
chrome-extension.pem