<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>localFront</title>

    <script src="../js/popup.js"></script>

    <style>
        body {
            width: 350px;
            height: 200px;
        }

        input {
            width: 250px;
        }
    </style>
</head>
<body>
<h1>localFront for lefigaro.fr</h1>
<br/>
<input class="disable" type="checkbox"/>
<br/>
<input class="remove-url" type="text"/>
<br/>
<input class="redirect-url" type="text"/>
<br/>
<input class="submit" type="submit" value="save"/>
</body>
</html>